<form method="post" action="<%= url %>">
    <textarea id="meu-editor" name="post[content]" style="display: flex;"><%= post.content %></textarea>
    <a href="/adm"><button class="cancel" type="button">Cancelar</button></a>
    <button class="save" type="submit">Salvar</button>
</form>