<%- include('../layouts/header', {title: 'TecnoBlog'}) %>
    <main id="show">
            <div class="postagem">
                <%- post.content %>
            </div> 
    </main>

<%- include('../layouts/footer') %>